---
import BaseLayout from "./BaseLayout.astro";
const {frontmatter} = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <img src={frontmatter.image.url} alt={frontmatter.image.alt} >
    <p>Written by {frontmatter.author}</p>
    <p>Published on: {frontmatter.pubDate.slice(0, 10)}</p>
    <p>Tags: {Object.keys(frontmatter.tags).map( key => frontmatter.tags[key]).join(', ')}</p>
    
    <slot />
</BaseLayout>